<section class="container-fluid bg">
  <section class="row justify-content-center">
    <section class="col-12 col-sm-6 col-md-3">
      <form class="form-container  bg-form" [formGroup]="registrationForm">
        <div class="form-group">
          <mat-form-field class="col-sm-12">
            <input type="text" (focusout)="checkUserNameAvailability()" formControlName="userName" matInput
              aria-label="User Name" placeholder="User Name" class="form-control" required>
            <mat-error
              *ngIf="registrationForm.get('userName').touched && registrationForm.get('userName').errors?.required">
              User Name is Required.
            </mat-error>
            <mat-error
              *ngIf="registrationForm.get('userName').touched && registrationForm.get('userName').errors?.maxlength">
              Maximum of 200 Characters allowed.
            </mat-error>
            <mat-error
              *ngIf="registrationForm.get('userName').touched && registrationForm.get('userName').errors?.minlength">
              Minimum of 3 Characters should be entered.
            </mat-error>
            <mat-error
              *ngIf="registrationForm.get('userName').touched && registrationForm.get('userName').errors?.invalidName">
              {{registrationForm.get('userName').errors?.invalidName.value}} user name not allowed.
            </mat-error>
            <mat-hint style="color:red"*ngIf="!isValidName">
              Account with this user name already exist.
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field class="col-sm-12">
            <input type="email" (focusout)="checkEmailAvailability()" formControlName="email" matInput
              aria-label="Email ID" placeholder="Email ID" class="form-control" required>
            <mat-error *ngIf="registrationForm.get('email').invalid && registrationForm.get('email').errors?.required">
              Email is Required.
            </mat-error>
            <mat-error *ngIf="registrationForm.get('email').touched && registrationForm.get('email').errors?.email">
              Enter a valid Email.
            </mat-error>
            <mat-hint style="color:red"*ngIf="!isValidEmail">
              Account with this email already exist.
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field class="col-sm-12">
            <input type="password" formControlName="password" matInput aria-label="Password" placeholder="Password"
              class="form-control" required>
            <mat-error
              *ngIf="registrationForm.get('password').touched && registrationForm.get('password').errors?.required">
              Password is Required.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field class="col-sm-12">
            <input type="password" formControlName="confirmPassword" matInput aria-label="Confirm Password"
              placeholder="Confirm Password" class="form-control" required>
            <mat-error
              *ngIf="registrationForm.get('confirmPassword').touched && registrationForm.get('confirmPassword').errors?.required">
              Confirm Password is Required.
            </mat-error>
            <mat-hint style="color:red" *ngIf="registrationForm.get('confirmPassword').touched && registrationForm.errors?.passwordMismatch && !registrationForm.get('confirmPassword').errors?.required">
              There is a mismatch in the password.
            </mat-hint>
          </mat-form-field>
        </div>
        <input type="button"
          [disabled]="registrationForm.touched && (disableButton || !registrationForm.valid || !isValidName || !isValidEmail)"
          class="btn btn-primary" value="Register" (click)="postDataToserver()" />
        <a style="float:right;margin-right:10px;color:white;margin-top: 0.4rem;" routerLink="/login">Login</a>
      </form>
    </section>
  </section>
</section>