<div class="bg">
    <custom-search-page *ngIf="ready" [displayColumnDefenition]="displayColumnDefenition" [api]="api"
        [placeholderText]="placeholderText" (rowClick)="onRowClick($event)" [rowActions]="rowActions"
        (onRowAction)="onAction($event)" [refreshGrid]="refreshGrid">
    </custom-search-page>
</div>
