<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">
  <mat-toolbar color="primary" class="example-toolbar">
    <mat-toolbar-row>
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <h1 class="example-app-name"><a style="color:white;text-decoration: none;" routerLink="/home">Hire
          </a></h1>
      <span class="example-spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>supervisor_account</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="snav.close();profileRouting()">

          <mat-icon>account_circle</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav mode="over" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item *ngIf="isCandidateDashBoard" routerLink="/home/job"
          (click)="snav.toggle();showDashBoard=false;">View Jobs</a>
        <a mat-list-item *ngIf="isHrDashBoard" routerLink="/home/addjob"
          (click)="snav.toggle();showDashBoard=false;">Add Job</a>
        <a mat-list-item *ngIf="isHrDashBoard" routerLink="/home/viewhrjob"
          (click)="snav.toggle();showDashBoard=false;">View Responsible Jobs</a>
        <a mat-list-item *ngIf="isAdmin" routerLink="/home/assignRoles"
          (click)="snav.toggle();showDashBoard=false;">Assign Roles</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="bg">
      <div *ngIf="showDashBoard">
        <hr-dashboard *ngIf="isHrDashBoard"></hr-dashboard>
        <candidate-chart *ngIf="isCandidateDashBoard"></candidate-chart>
      </div>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>