.jobContainer{
    margin: 1rem;
    border-radius: 10px;
    background: #09020212;
    box-shadow: 5px 5px 3px 2px;
}
table {
    width: 100%;
}

tr.example-detail-row {
    height: 0;
}
tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

.example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
}

.example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
}

.example-element-description {
    padding: 16px;
}

.example-element-description-attribution {
    opacity: 0.5;
}

.errorText{
    font-size: 70%;
    color: red;
}


.emptyDiv{
    margin-top: 20px;
    width:100%;
}

.example-full-width {
    width: 100%;
}

.width-increase .mat-chip-input{
    margin-top: -0.875px;
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
}