.jobContainer{
  margin: 1rem;;
}
table {
    width: 100%;
    background-color: #09020212;
  }

  mat-expansion-panel{
    background-color: #09020263;
    margin-bottom: 10px;
  }
  .mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel-header.mat-expanded {
    background: #d5d5d1 !important;
    height: 45px !important;
  }
  .mat-accordion>.mat-expansion-panel-spacing:last-child, .mat-accordion>*:last-child:not(.mat-expansion-panel) .mat-expansion-panel-spacing{
    margin-bottom: 10px;
  }

  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: #ccc;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold; 
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  

  .emptyDiv{
    margin-top: 20px;
    width:100%;
}

.example-full-width {
  width: 100%;
}
::ng-deep .mat-horizontal-stepper-header{
  pointer-events: none !important;
}

::ng-deep .Rejected .mat-step-icon.mat-step-icon-state-number.mat-step-icon-selected {
  background-color:#f44336 !important;
}

::ng-deep .mat-step-icon.mat-step-icon-state-edit {
  background-color:rgb(44, 160, 44);
}

::ng-deep .mat-step-icon.mat-step-icon-state-done {
  background-color:rgb(44, 160, 44);
}

.reject{
  background-color:red !important;
}

.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.mat-stepper-horizontal-line {
  background-color: #3f51b5;
}