

mat-form-field {
    max-width: 50%;
    width: 50%;
}

example-chip-list {
    width: 100%;
}

.inputLabelAlign {
    justify-content: right;
    display: grid;
    padding-top: 5px;
}

.profileContainer {
    margin: 2%;
    padding: 0.1% 1% 0 1%;
    border-radius: 15px;
    background: #09020212;
    box-shadow: 5px 5px 3px 2px;
}

.addButton {
    background-color: #3f51b5;
    color: white;
    border-radius: 50%;
    margin-top: -6px;
}

.labelAlign {
    justify-content: right;
    display: grid;
}

.editIconPicContainer{
    display: grid;
    justify-content: right;
}


.profilePicContainer {
    display: grid;
    justify-content: center;
}

.profileContainer input {
    background-color: #578088ba;
    /*color: black*/;
}

.chipContainer {
    margin-top: 5px;
    background-color: #578088ba;
    /*color: black*/;
    min-height: 100px;
    max-height: 200px;
    overflow: auto;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 5px
}

.selectLabelAlign {
    justify-content: right;
    display: grid;
    margin-top: 0.85rem;
}

.profileContainer .mat-form-field-underline {
    display: none;
}

.mat-radio-button~.mat-radio-button {
    margin-left: 16px;
}

.bottomPadding {
    padding-bottom: 21.5px;
}

.marginChip input.mat-chip-input {
    margin: 0;
    height: 37px;
}
.marginChip input::placeholder {
    color: black;
}
.marginChip input {
    width: 100%;
    color: black;
}

.marginChip {
    padding-right: 3.9%;
    padding-left: 2%;
}

::ng-deep .profileContainer .mat-select-arrow-wrapper {
    padding-top: 1rem !important;
}

::ng-deep .profileContainer .mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 0% !important;
    /*color: black*/;
    background-color: #578088ba !important;
}

.widthset .col-md-7 {
    padding-left: 0;
    padding-right: 0;
}

/* mat-label {
    color: #578088ba;
}

fa-icon {
    color: #ccc;
} */

/* ::ng-deep .profileContainer .mat-drawer-container {
    color: #ccc !important;
}



.mat-radio-outer-circle{
    border-color: #CCC !important;
}

::ng-deep .profileContainer .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color: rgb(146, 44, 44) !important;
} */

/* ::ng-deep .profileContainer .mat-radio-disabled .mat-radio-inner-circle {
    background-color: #FFF !important;
}

::ng-deep .profileContainer .mat-radio-disabled .mat-radio-outer-circle {
    border-color: #FFF !important;
}


::ng-deep .profileContainer .mat-radio-button .mat-radio-outer-circle {
    border-color: #FFF !important;
}
::ng-deep .profileContainer .mat-radio-label-content {
    color: #CCC !important;
} */

.errorText{
    font-size: 80%;
    color: red;
}