<div class="profileContainer" *ngIf="ready">
    <!-- {{profileForm.value | json}} -->
    <div class="editIconPicContainer row" style="cursor:pointer">
        <div (click)="enableForm()" *ngIf="formDisabled && isEditAllowed"
            style="color:black">Edit Profile <fa-icon
                [icon]="fontwesomeIcon.faEdit">
            </fa-icon>
        </div>
    </div>
    <div class="profilePicContainer row">
            <!-- <div class="span3 well"> -->
                <fa-icon [icon]="fontwesomeIcon.faUserCircle" name="aboutme" width="140px" height="140px"
                    style="border-radius:50%;font-size: 6.5em;"></fa-icon>
            <!-- </div> -->
    </div>
    <form [formGroup]="profileForm">
        <div class="row">
            <div class="col-md-6">
                <div class="row bottomPadding">
                    <div class="col-md-5 inputLabelAlign">
                        <mat-label>
                            <fa-icon [icon]="fontwesomeIcon.faUser"></fa-icon> User Name :
                        </mat-label>
                    </div>
                    <div class="col-md-7">
                        <input matInput name="userName" type="text" class="form-control" formControlName="userName"
                            disabled>
                    </div>
                </div>
                <div class="row bottomPadding">
                    <div class="col-md-5 inputLabelAlign">
                        <mat-label>
                            <fa-icon [icon]="fontwesomeIcon.faUserTag"></fa-icon> Roles :
                        </mat-label>
                    </div>
                    <div class="col-md-7">
                        <input matInput name="roles" type="text" class="form-control" formControlName="roles" disabled>
                    </div>
                </div>
                <div class="row bottomPadding">
                    <div class="col-md-5 inputLabelAlign">
                        <mat-label>
                            <fa-icon [icon]="fontwesomeIcon.faEnvelope"></fa-icon> Email :
                        </mat-label>
                    </div>
                    <div class="col-md-7">
                        <input matInput name="email" type="text" class="form-control" formControlName="email">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 labelAlign">
                        <mat-label>
                            <fa-icon [icon]="fontwesomeIcon.faTransgenderAlt"></fa-icon> Gender :
                        </mat-label>
                    </div>
                    <div class="col-md-7">
                        <mat-radio-group formControlName="gender">
                            <mat-radio-button value="M">Male</mat-radio-button>
                            <mat-radio-button value="F">Female</mat-radio-button>
                            <mat-radio-button value="NA">Prefer Not to specify</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 selectLabelAlign">
                        <mat-label>
                            <fa-icon [icon]="fontwesomeIcon.faGraduationCap"></fa-icon> Highest Qualification :
                        </mat-label>
                    </div>
                    <div class="col-md-7 selectBoxAlign">
                        <mat-form-field appearance="fill">
                            <mat-select formControlName="highestQualification">
                                <mat-option value="10th">Secondary Education</mat-option>
                                <mat-option value="12th">Higher Secondary</mat-option>
                                <mat-option value="BE/BTech">BE/B.Tech</mat-option>
                                <mat-option value="ME/MTech">ME/M.Tech</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-5 inputLabelAlign">
                        <mat-label>
                            <fa-icon [icon]="fontwesomeIcon.faLayerGroup"></fa-icon> My Skills :
                        </mat-label>
                    </div>
                    <div class="col-md-7">
                        <skill-list [isDisabled]="formDisabled" backgroundColor="#578088ba" [selectedSkills]="skillsList"
                            containerEnabled="true" (onChange)="skillChange($event)"></skill-list>
                    </div>
                </div>
                <div class="row bottomPadding">
                    <div class="col-md-5 inputLabelAlign">
                        <mat-label>
                            <fa-icon [icon]="fontwesomeIcon.faCalendarAlt"></fa-icon> Total Experience(In Months) :
                        </mat-label>
                    </div>
                    <div class="col-md-7">
                        <input matInput name="totalExp" min="0" type="number" class="form-control"
                            formControlName="totalExp">
                    </div>
                </div>
                <div class="row" *ngIf="profileForm.get('totalExp').value>0">
                    <div class="col-md-5 inputLabelAlign">
                        <mat-label>Individual Experience(In Months) :</mat-label>
                    </div>
                    <div class="example-chip-list col-md-7 widthset" style="padding-left: 1.3rem;">
                        <div class="row" style="margin-bottom: 2%;" *ngIf="!formDisabled">
                            <div class="col-md-5 marginChip">
                                <input matInput name="companyName" [disabled]="formDisabled" type="text"
                                    placeholder="Company Name" class="form-control"
                                    [formControl]="companyNameFormControl">
                            </div>
                            <div class="col-md-5 marginChip">
                                <input matInput name="companyExp" [disabled]="formDisabled" min="0" type="number"
                                    class="form-control" placeholder="Experience(in Months)" aria-label=""
                                    [matChipInputFor]="companyChips"
                                    formControlName="individualExperience"
                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                    (matChipInputTokenEnd)="addCompanyExp($event,0)">
                            </div>
                            <div class="col-md-1 marginChip">
                                <button mat-icon-button><mat-icon class="addButton" (click)="addCompanyExp(null,profileForm.get('individualExperience').value)">add</mat-icon></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="example-chip-list chipContainer"
                                style="max-height:100px;overflow-y: auto;overflow-x:hidden;margin: 0% 3.9% 2% 2%;">
                                <mat-chip-list #companyChips [disabled]="formDisabled">
                                    <div *ngFor="let company of companyExpList">
                                        <mat-chip style="margin-top:15px;" [selectable]="selectable"
                                            [removable]="removable" (removed)="removeCompany(company)">
                                            <b>{{company.companyName}}</b> : {{company.companyExp}}
                                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                        </mat-chip>
                                    </div>
                                </mat-chip-list>
                            </div>
                        </div>
                        <div class="row errorText" *ngIf="expValidation">Individual Experience is greater than Total Experience</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="!formDisabled" style="justify-content: center;padding-bottom:15px">
            <button mat-raised-button color="primary" [disabled]="profileForm.invalid || expValidation" name="save" type="submit"
                (click)="saveProfile()">Save</button>
            <button mat-raised-button color="warn" style="color: #CCC;margin-left:10px" [disabled]="profileForm.invalid" name="cancel" type="submit"
                 (click)="cancelProfileEdit()">Cancel</button>
        </div>
    </form>
</div>