<h2 class="infodisplay {{data.type}}" mat-dialog-title>{{data.type && data.type==='warn'? data.header : data.header}}</h2>
<div mat-dialog-content>
  <mat-label>{{data.content}}</mat-label>
</div>
<div mat-dialog-actions align="center">
  <button mat-raised-button color="{{data.type? data.type : 'primary'}}" cdkFocusInitial (click)="dialogRef.close()">OK</button>
</div>