<h1 mat-dialog-title>OTP Verification</h1>
<div mat-dialog-content>
  <small>OTP has be sent to {{data.email}}</small>
  <div class="row">

    <div class="form-group col-md-6">
      <mat-form-field style="width:100%" >
        <mat-label>OTP</mat-label>
        <input name="otp" type="number" aria-placeholder="Enter your OTP" aria-label="Enter your OTP" matInput
          [(ngModel)]="data.otpEntered">
      </mat-form-field>
      <mat-error *ngIf="invalidOtp">Your OTP does't Match</mat-error>
    </div>
    <div class="col-md-6 align">
      <a style="text-decoration: underline;color:blue" (click)="resendOtp()">Resend
        OTP</a>
    </div>
  </div>
</div>
<div mat-dialog-actions class="row">
  <div class="col-md-1"></div>
  <button mat-raised-button class="col-md-4" style="margin-left:10px" color="primary" (click)="verifyOtp()" cdkFocusInitial>Verify</button>
  <button mat-raised-button class="col-md-4" (click)="closeDialog()">Close</button>
</div>